*{
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px;
}

.boxes{
    width: 100px;
    height: 100px;
    background-color: aqua;
    cursor: pointer;
    border: 1px solid black;
}

p{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
